/* Home.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: white;
}

/* Welcome Screen */
.welcome-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.welcome-text {
  text-align: center;
}

.welcome-text h1, .welcome-text h3 {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Home Section with Cinematography Background */
.home-section {
  height: 100vh; /* Full height of the viewport */
  background-image: url('https://i.pinimg.com/736x/a7/42/3d/a7423d8003c86ebe44c57e79b6d90b62.jpg'); /* Replace with your cinematography background image URL */
  background-size: cover; /* Ensure image covers the entire section */
  background-position: center; /* Center the background image */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
  animation: float 3s infinite alternate;
  color: white! important;
}

@keyframes float {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@media (max-width: 768px) {
  .centered-text h1 {
    font-size: 1.4rem;
  }
}
